@charset "utf-8";
/*===============
contain : construct page layout like page background, 
header, footer, global navigation and so on =====*/

/*-----  contents -------

	1: Wrap Section
	2: Header Area
		: gnavArea
	3: Main Area
		: contentArea
		: sideArea
	4: Footer Area
	  
----------------------*/

@font-face {
	font-family: "latoReg";
	src: url(../font/Lato-Regular.ttf);
}
@font-face {
	font-family: "aparaj";
	src: url(../font/aparaj.ttf);
}
/*
===== 1: Wrap Section ===========================*/
#wrap {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#wrap #wrapInner {
	width: 1170px;
	height: auto;
	margin: 0px auto;
}
/*
===== 2: Header Area ============================*/
#headerArea {
	width: 1170px;
	height: 212px;
}
#headerArea .leftHeader {
	float: right;
	height: 141px;
}
#headerArea .leftHeader .topNav {
	float: right;
	height: 38px;
}
#headerArea .leftHeader .topNav ul {
	margin: 13px 0 0 136px;
}
#headerArea .leftHeader .topNav ul li {
	float: left;
	margin: 0 30px 0 0;
}
#headerArea .leftHeader .topNav ul li:last-child {
	margin: 0 12px 0 0;
}
#headerArea .leftHeader .topNav ul li a {
	text-decoration: none;
	font-size: 16px;
	color:#000000;
}
#headerArea .leftHeader .topNav ul li a:hover {
	opacity: 0.5;
}
#headerArea .leftHeader .bottomNav {
	float: right;
	width: 600px;
	height: 89px;
}
#headerArea .leftHeader .bottomNav ul li:first-child {
	float: left;
	margin: 0 5px 0 0;
	padding: 37px 25px 33px 25px;
	background: #05aecc;
	text-align: center;
}
#headerArea .leftHeader .bottomNav ul li:first-child:hover {
	opacity: 0.5;
}
#headerArea .leftHeader .bottomNav ul li:first-child a {
	text-decoration: none;
	font-family: "latoReg";
	font-size: 16px;
	color: #fff;
}
#headerArea .leftHeader .bottomNav ul li:nth-child(2) {
	float: left;
	margin: 0 5px 0 0;
	padding: 37px 29px 33px 29px;
	background: #f0626e;
	text-align: center;
}
#headerArea .leftHeader .bottomNav ul li:nth-child(2):hover {
	opacity: 0.5;
}
#headerArea .leftHeader .bottomNav ul li:nth-child(2) a {
	text-decoration: none;
	font-family: "latoReg";
	font-size: 16px;
	color: #fff;
}
#headerArea .leftHeader .bottomNav ul li:nth-child(3) {
	float: left;
	margin: 0 5px 0 0;
	padding: 37px 18px 33px 18px;
	background: #05aecc;
	background-position: 63px 32px;
	text-align: center;
}
#headerArea .leftHeader .bottomNav ul li:nth-child(3):hover {
	opacity: 0.5;
}
#headerArea .leftHeader .bottomNav ul li:nth-child(3) a {
	position: relative;
	padding: 15px 37px 15px 0;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}
#headerArea .leftHeader .bottomNav ul li:nth-child(3) a:after {
	position: absolute;
	background: url(../images/header_ico_001.png) no-repeat;
	content: '';
	width: 23px;
	height: 25px;
	right: 0;
	top: 12px;
}
#headerArea .leftHeader .bottomNav ul li:last-child {
	float: left;
	margin: 0 0 0 0;
	padding: 37px 30px 33px 30px;
	background: #f0626e;
	text-align: center;
}
#headerArea .leftHeader .bottomNav ul li:last-child:hover {
	opacity: 0.5;
}
#headerArea .leftHeader .bottomNav ul li:last-child a {
	position: relative;
	padding: 15px 37px 15px 0;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}
#headerArea .leftHeader .bottomNav ul li:last-child a:after {
	position: absolute;
	background: url(../images/header_ico_002.png) no-repeat;
	content: '';
	width: 28px;
	height: 24px;
	right: 0;
	top: 14px;
}
/* -------------------------
#gnavArea
----------------------------*/
#headerArea #gnavArea {
	width: 1170px;
	height: 71px;
	background: #05aecc;
}
/*----- Top Level -----*/
#headerArea #gnavArea > ul > li {
	float: left;
	display: inline-block;
	position: relative;
	font-size: 16px;
}
#headerArea #gnavArea > ul > li > a {
	display: inline-block;
	padding: 0 30px;
	line-height: 71px;
	text-decoration: none;
	color: #fff;
}
#headerArea #gnavArea > ul > li:hover > a {
	background: #fff;
	color: #f0626e;
}
/*----- Bottom Level -----*/
#headerArea #gnavArea li:hover .sub-menu {
	z-index: 1;
	opacity: 1;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(82,82,82,1);
	-moz-box-shadow: 0px 0px 12px 0px rgba(82,82,82,1);
	box-shadow: 0px 0px 12px 0px rgba(82,82,82,1);
}
#headerArea #gnavArea .sub-menu {
    width: 268px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    background: rgba(255,255,255,0.9);
}
#headerArea #gnavArea .sub-menu li {
    display:block;
    font-size:16px;
}
#headerArea #gnavArea .sub-menu li .menuBlockA01 {
	width: 226px;
	height: 94px;
	margin: 25px 21px 0 21px;
	border-bottom: 1px solid #cacaca;
}
#headerArea #gnavArea .sub-menu li .menuBlockA01 .btnMenu {
	float: left;
	margin: 5px 0 0 14px;
}
#headerArea #gnavArea .sub-menu li .menuBlockA01 .btnMenu a {
	padding: 4px 27px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	background: #05aecc;
}
#headerArea #gnavArea .sub-menu li .menuBlockA01 .btnMenu a:hover {
	opacity: 0.5;
}
#headerArea #gnavArea .sub-menu li .menuBlockA02 {
	float: right;
}
#headerArea #gnavArea .sub-menu li .btnSeeAll {
	width: 226px;
	height: 22px;
	margin: 0 21px;
	padding: 10px 0;
}
#headerArea #gnavArea .sub-menu li .btnSeeAll a {
	text-decoration: none;
	color: #f0626e;
}
#headerArea #gnavArea .sub-menu li .btnSeeAll a:hover {
	opacity: 0.5;
}
/*
===== 3: Main Area ===============================*/
#mainArea {
	width: 1170px;
	height: auto;
	margin: 15px 0 0 0;
}
/* #contentArea
----------------------------*/
#mainArea #contentArea {
	width: 1170px;
	height: auto;
}
#mainArea #contentArea .sectionA01 {
	float: left;
	width: 1170px;
	height: 570px;
	overflow:hidden;
}
/*----- Mens Area -----*/
#mainArea #contentArea .sectionA01 .mensArea {
	float: left;
	position: relative;
	width: 670px;
	height: 570px;
	overflow: hidden;
}
#mainArea #contentArea .sectionA01 .mensArea .mensBlockA01 {
	position: absolute;
	width: 348px;
	height: 105px;
	background: rgba(87,75,97,0.8);
	left: 0;
	bottom: 55px;
}
#mainArea #contentArea .sectionA01 .mensArea .mensBlockA03 {
	position: absolute;
	width: 348px;
	height: 41px;
	padding: 14 0 0 0;
	background: rgba(239,89,102,0.8);
	left: 0;
	bottom: 12px;
}
#mainArea #contentArea .sectionA01 .sectionA02 {
	float: right;
	width: 494px;
	height: 570px;
	position: relative;
}
/*----- Womens Area -----*/
#mainArea #contentArea .sectionA01 .sectionA02 .womensArea {
	float: left;
	position: relative;
	width: 494px;
	height: 320px;
	overflow: hidden;
}
#mainArea #contentArea .sectionA01 .sectionA02 .womensArea .womensBlockA01 {
	position: absolute;
	width: 267px;
	height: 83px;
	background: rgba(87,75,97,0.8);
	left: 0;
	bottom: 8px;
}
/*----- Kids Area -----*/
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea {
	float: left;
	width: 494px;
	height: 245px;
	margin: 5px 0 0 0;
	position:relative;
	background: url(../images/content_img_003.jpg) no-repeat;
}
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea .overlay {
	width: 494px;
	height: 245px;
	background: rgba(87,75,97,0.8);
	opacity: 0;
	overflow: hidden;
	position: relative;
	transition: 0.4s ease-in-out;
}
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea:hover > .overlay{
	opacity:1;
}
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea .kidsWrap{
	width: 300px;
	height: 50px;	
	position: absolute;
	right: -295px;
	bottom: 28px;
	transition: 0.7s ease-in-out;
}
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea:hover > .kidsWrap{
	right:0;
}
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea .kidsBlockA01 {
	position: absolute;
	width: 86px;
	height: 55px;
	background: #434343;
	right: 0;
	bottom: 0;
}
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea .kidsBlockA01 p {
	padding: 13px 8px;
}
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea .kidsBlockA02 {
	width: 53px;
	height: 55px;
	position: absolute;
	background: #f0626e;
	right: 86px;
	bottom: 0;
	text-align: center;
}
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea .kidsBlockA03 {
	width: 53px;
	height: 55px;
	position: absolute;
	background: #00a1be;
	right: 139px;
	bottom: 0;
	text-align: center;
}
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea .kidsBlockA04 {
	width: 103px;
	height: 55px;
	position: absolute;
	background: #05aecc;
	right: 192px;
	bottom: 0;
}
#mainArea #contentArea .sectionA01 .sectionA02 .kidsArea .kidsBlockA04 p {
	padding: 18px 0 0 0;
	text-align: center;
}
#mainArea #contentArea .sectionB01 {
	float: left;
	width: 1170px;
	height: 510px;
	margin: 5px 0 0 0;
	overflow:hidden;
}
#mainArea #contentArea .sectionB01 .sectionB02 {
	float: left;
	width: 670px;
	height: 510px;
	margin: 0 5px 0 0;
	overflow: hidden;
}
/*----- Search Area -----*/
#mainArea #contentArea .sectionB01 .sectionB02 .searchArea {
	width: 670px;
	height: 170px;
	background: #f0626e;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#mainArea #contentArea .sectionB01 .sectionB02 .searchArea .searchBlockA01 {
	float: left;
	width: 485px;
	height: 44px;
	margin: 51px 0 0 51px;
	background: #fff;
	padding: 25px 0 0 24px
}
#mainArea #contentArea .sectionB01 .sectionB02 .searchArea input[type=text] {
	width: 275px;
	border: none;
	color: #c6c6c6;
	outline: none;
}
#mainArea #contentArea .sectionB01 .sectionB02 .searchArea input[type=submit]{
	float: left;
	width: 53px;
	height: 53px;
	margin: 60px 0 0 16px;
	background: url(../images/content_ico_001.png) no-repeat;
	border: none;
	cursor: pointer;
}
/*----- Craft Area -----*/
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea {
	margin: 5px 0 0 0;
	width: 670px;
	height: 335px;
	position: relative;
	background: url(../images/content_img_015.jpg) no-repeat;
}
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea .overlay {
	margin: 5px 0 0 0;
	width: 670px;
	height: 335px;
	position: relative;
	background: rgba(87,75,97,0.8);
	opacity: 0;
	overflow: hidden;
	transition: 0.4s ease-in-out;
}
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea:hover > .overlay{
	opacity: 1;
}
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea .craftWrap {
	width: 400px;
	height: 50px;	
	position: absolute;
	right: -411px;
	bottom: 0;
	transition: 0.7s ease-in-out;
}
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea:hover > .craftWrap{
	right:0;
}
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea .craftBlockA01 {
	position: absolute;
	width: 102px;
	height: 55px;
	background: #434343;
	right: 0;
	bottom: 0;
}
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea .craftBlockA01 p {
	padding: 13px 17px;
}
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea .craftBlockA02 {
	width: 53px;
	height: 55px;
	position: absolute;
	background: #f0626e;
	right: 102px;
	bottom: 0;
	text-align: center;
}
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea .craftBlockA03 {
	width: 53px;
	height: 55px;
	position: absolute;
	background: #00a1be;
	right: 155px;
	bottom: 0;
	text-align: center;
}
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea .craftBlockA04 {
	width: 203px;
	height: 55px;
	position: absolute;
	background: rgba(87,75,97,0.8);
	right: 208px;
	bottom: 0;
}
#mainArea #contentArea .sectionB01 .sectionB02 .craftArea .craftBlockA04 p {
	padding: 10px 48px;
	text-align: center;
}
/*----- Jewelry Area -----*/
#mainArea #contentArea .sectionB01 .jewelryArea {
	float: right;
	width: 494px;
	height: 510px;
	position: relative;
	background: url(../images/content_img_004.jpg) no-repeat;
}
#mainArea #contentArea .sectionB01 .jewelryArea .jewelryBlockA01 {
	position: absolute;
	width: 98px;
	height: 396px;
	right: -98px;
	bottom: 0;
	background: url(../images/JEWELRY_title.png) no-repeat;
	transition: 0.7s ease-in-out;
}
#mainArea #contentArea .sectionB01 .jewelryArea:hover > .jewelryBlockA01 {
	right: 0;
}
#mainArea #contentArea .sectionB01 .jewelryArea .jewelryBlockA01 h1 {
	margin: 296px 0 0 24px;
}
/*----- New Product Area -----*/
#mainArea #contentArea .newProductArea {
	float: left;
	width: 1170px;
	height: 270px;
	margin: 60px 0 0 0;
	position: relative;
}
#mainArea #contentArea .newProductArea .titleProduct h3 {
	float: left;
	font-family: "latoReg";
	font-size: 30px;
	color: #00a1be;
}
#mainArea #contentArea .newProductArea .box {
	position: relative;
	width: 370px;
	height: 200px;
	overflow: hidden;
}
#mainArea #contentArea .newProductArea .box img {
	display: block;
    position: relative;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#mainArea #contentArea .newProductArea .box .caption {
	width: 370px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
	opacity: 0;
    background-color: rgba(87,75,97,0.8);
    -webkit-transition: all 0.4s ease-in-out;
   	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#mainArea #contentArea .newProductArea .box:hover .caption {
	opacity: 1;
}
#mainArea #contentArea .newProductArea .box:hover img {
	-ms-transform: scale(1.1);
  	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#mainArea #contentArea .newProductArea .box .newWrap{
	width: 300px;
	height: 50px;	
	position: absolute;
	left: 33px;
	bottom: -55px;
	transition: 0.7s ease-in-out;
}
#mainArea #contentArea .newProductArea .box:hover > .newWrap{
	bottom: 70px;
}
#mainArea #contentArea .newProductArea .box .newBlockA01 {
	position: absolute;
	width: 86px;
	height: 55px;
	background: #434343;
	right: 0;
}
#mainArea #contentArea .newProductArea .box .newBlockA01 p {
	padding: 13px 8px;
}
#mainArea #contentArea .newProductArea .box .newBlockA02 {
	width: 53px;
	height: 55px;
	position: absolute;
	background: #f0626e;
	right: 86px;
	text-align: center;
}
#mainArea #contentArea .newProductArea .box .newBlockA02 img {
	margin: 15px 0 0 12px;
}
#mainArea #contentArea .newProductArea .box .newBlockA03 {
	width: 53px;
	height: 55px;
	position: absolute;
	background: #00a1be;
	right: 139px;
	text-align: center;
}
#mainArea #contentArea .newProductArea .box .newBlockA03 img {
	margin: 15px 0 0 15px;
}
#mainArea #contentArea .newProductArea .box .newBlockA04 {
	width: 103px;
	height: 55px;
	position: absolute;
	background: #05aecc;
	right: 192px;
}
#mainArea #contentArea .newProductArea .box .newBlockA04 p {
	padding: 18px 0 0 0;
	text-align: center;
}
/*----- Featured Area -----*/
#mainArea #contentArea .featuredArea {
	float: left;
	width: 1170px;
	height: 460px;
	margin: 50px 0 0 0;
	position: relative;
}
#mainArea #contentArea .featuredArea .titleFeatured h3 {
	float: left;
	font-size: 30px;
	color: #00a1be;
}
#mainArea #contentArea .featuredArea .boxFeatured {
	width: 270px;
	height: 400px;
	border: 1px solid #dddddd;
	position: relative;
	text-align: center;
	overflow: hidden;
}
#mainArea #contentArea .featuredArea .boxFeatured .spanBlockA01 {
	width: 80px;
	padding: 12px 0;
	position: absolute;
	left: 0;
	top: 13px;
	font-size: 14px;
	color: #fff;
	background: #f0626e;
	text-align: center; 
}
#mainArea #contentArea .featuredArea .boxFeatured .featuredWrap {
	width: 270px;
	height: 108px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
}
#mainArea #contentArea .featuredArea .boxFeatured .featuredWrap .featuredBlockA01 {
	width: 270px;
	height: 56px;
	border-bottom: 1px solid #dddddd;
}
#mainArea #contentArea .featuredArea .boxFeatured .featuredWrap .featuredBlockA02 {
	width: 270px;
	height: 51px;
	position: relative;
}
#mainArea #contentArea .featuredArea .boxFeatured .featuredWrap .featuredBlockA02 .featuredBlockA03 {
	width: 99px;
	height: 51px;
	position: absolute;
	right: 0;
	background: #f0626e;
	border-left: 1px solid #dddddd;
}
#mainArea #contentArea .featuredArea .boxFeatured .featuredWrap .featuredBlockA02 .featuredBlockA04 {
	width: 53px;
	height: 51px;
	position: absolute;
	right: 100px;
	background: #fff;
	border-left: 1px solid #dddddd;
	text-align: center;
}
#mainArea #contentArea .featuredArea .boxFeatured .featuredWrap .featuredBlockA02 .featuredBlockA04 img {
	padding: 18px 0 0 20px;
}
#mainArea #contentArea .featuredArea .boxFeatured .featuredWrap .featuredBlockA02 .featuredBlockA05 {
	width: 53px;
	height: 51px;
	position: absolute;
	right: 158px;
	background: #fff;
	border-left: 1px solid #dddddd;
	text-align: center;
}
#mainArea #contentArea .featuredArea .boxFeatured .featuredWrap .featuredBlockA02 .featuredBlockA05 img {
	padding: 18px 0 0 22px;
}
#mainArea #contentArea .featuredArea .boxFeatured .featuredWrap .featuredBlockA02 .featuredBlockA06 {
	width: 53px;
	height: 51px;
	position: absolute;
	right: 216px;
	background: #fff;
	text-align: center;
}
#mainArea #contentArea .featuredArea .boxFeatured .featuredWrap .featuredBlockA02 .featuredBlockA06 img {
	padding: 21px 0 0 4px;
}
/*----- Who We Area -----*/
#mainArea #contentArea .whoWeArea {
	float: left;
	width: 1170px;
	height: auto;
	margin: 39px 0 0 0;
}
#mainArea #contentArea .whoWeArea .titleWhoWe h3 {
	float: left;
	font-size: 30px;
	color: #00a1be;
	padding: 0 0 0 28px;
}
#mainArea #contentArea .whoWeArea p {
	padding: 0 5px 0 28px;
}
#mainArea #contentArea .whoWeArea ul {
	margin: 39px 0 0 0;
	overflow: hidden;
}
#mainArea #contentArea .whoWeArea ul li {
	float: left;
	margin: 0 30px 0 0;
}
#mainArea #contentArea .whoWeArea ul li:last-child {
	margin: 0 0 0 0;
}
#mainArea #contentArea .whoWeArea .btnRegister {
	margin: 30px auto;
	width: 645px;
	height: auto;
	padding: 19px 0;
	text-align: center;
	background: #05aecc;
}
#mainArea #contentArea .whoWeArea .btnRegister a {
	display: inline;
	text-decoration: none;
	font-size: 27px;
	color: #fff;
}
#mainArea #contentArea .whoWeArea .btnRegister a:hover {
	opacity: 0.5;
}
/*
===== 4: Footer Area =============================*/
#footerArea {
	float: left;
	width: 1170px;
	height: auto;
}
#footerArea .footerAreaA {
	float: left;
	width: 1170px;
	height: auto;
	border-top: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
}
#footerArea .footerAreaA .footerBlockA01 {
	float: left;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA01 {
	float: left;
	margin: 55px 44px 0 22px;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA01 li {
	margin: 0 0 15px 0;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA01 li:first-child {
	margin: 0 0 48px 0;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA01 li h3 {
	color: #434343;
	font-size: 25px;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA01 li a {
	text-decoration: none;
	color: #676767;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA01 li a:hover {
	text-decoration: none;
	color: #676767;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA02 {
	float: left;
	margin: 55px 117px 0 0;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA02 li {
	margin: 0 0 15px 0;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA02 li:first-child {
	margin: 0 0 48px 0;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA02 li h3 {
	color: #434343;
	font-size: 25px;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA02 li a {
	text-decoration: none;
	color: #676767;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA03 {
	float: left;
	margin: 55px 0px 0px;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA03 li {
	margin: 0 0 15px 0;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA03 li:first-child {
	margin: 0 0 48px 0;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA03 li h3 {
	color: #434343;
	font-size: 25px;
}
#footerArea .footerAreaA .footerBlockA01 ul.listBlockA03 li a {
	text-decoration: none;
	color: #676767;
}
#footerArea .footerAreaA .footerBlockA02 {
	float: right;
	width: auto;
	height: auto;
}
#footerArea .footerAreaA .footerBlockA02 h3 {
	margin: 55px 0 46px 0;
	color: #434343;
	font-size: 25px;
}
#footerArea .footerAreaA .footerBlockA02 .footerBlockA03 {
	width: 379px;
	height: 100px;
	background:#699700;
}
#footerArea .footerAreaA .footerBlockA02 .footerBlockA03 input[type=text] {
	width: 377px;
	height: 71px;
	border: 1px solid #dedede;
	text-align: center;
}
#footerArea .footerAreaA .footerBlockA02 .footerBlockA03 input[type=submit] {
	width: 379px;
	height: 51px;
	background: #05aecc;
	border: none;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
}
#footerArea .footerAreaA .footerBlockA02 .footerBlockA03 input[type=submit]:hover {
	width: 379px;
	height: 51px;
	background: #fff;
	border: 1px solid #05aecc;
	color: #05aecc;
	font-size: 14px;
	cursor: pointer;
	transition: 0.5s;
}
#footerArea .footerAreaA .footerBlockA02 .footerBlockA04 ul li {
	float: left;
	margin: 0 11px 0 0;
}
#footerArea .footerAreaA .footerBlockA02 .footerBlockA04 ul li a:hover {
	opacity: 0.5;
}
#footerArea .footerAreaB {
	width: 1170px;
	height: 66px;
	border-bottom: 1px solid #b9b9b9;
}
#footerArea .footerAreaB .textBlockA01 {
	padding: 27px 0 0 24px;
	font-size: 14px;
}
#footerArea .footerAreaB .textBlockA02 {
	padding: 27px 9px 0 0;
	font-size: 14px;
}
#footerArea .footerAreaB .textBlockA02 span {
	color: #f27781;
}
.clear {
	clear: both;
}